:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --green-900: hsl(139, 89%, 5%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
    font-weight: 400 700;
    font-stretch: 25% 151%;
}

body {
    font-family: Karla, sans-serif;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--green-200);
}

h1 {
    margin-bottom: 2rem;
}

main {
    width: clamp(15rem, 80%, 40rem);
    gap: 1rem;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 0.8rem;
}

.contact-form {
    margin: auto;
}

fieldset {
    border: 0;
}

.name, .email, .message {
    width: 100%;
    border: 0.15rem solid var(--grey-900);
    border-radius: 0.3rem;
}
.name:hover, .email:hover, .message:hover {
    border-color: var(--green-600);
}
.name, .email {
    margin-bottom: 1.2rem;
    margin-top: 0.3rem;
    height: 2.5rem;
}

.message {
    margin-top: 0.3rem;
    margin-bottom: 1.2rem;
    height: 5rem;
    resize: none;
}

#submit-btn {
    width: 100%;
    border: 0;
    border-radius: 0.2rem;
    margin-top: 1.2rem;
    height: 2.5rem;
    background-color: var(--green-600);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

#submit-btn:active {
    background-color: var(--green-200);
}

#submit-btn:hover {
    background-color: var(--green-900);
}

.username {
    display: flex;
    flex-direction: column;
}

.name-container {
    width: 100%;
}

/*
.enquiry-label {
    width: 100%;
    height: 100%;
}
*/

.query-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.3rem;
}

.query-options .enquiry {
    border: 0.15rem solid var(--grey-900);
    border-radius: 0.3rem;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.query-options .enquiry:hover{
    border-color: var(--green-600);
}

.query-type, .query-label {
    cursor: pointer;
}

.consent-check, .consent-check-label {
    cursor: pointer;
}

.focus, .active, .positive {
    border-color: var(--green-600);
}

.error-message {
    display: none;
    color: var(--red);
}

.error {
    border-color: var(--red);
}

@media screen and (width >= 53rem) {
    .username {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .query-options {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}